@use "../App" as v;

#footer{
    background-color: v.$dark_green;
    position:absolute;
   bottom:-20rem;
   width:100%;
   height:15rem;
   text-align: center;
   overflow:auto;
}
#name{
    margin-top:3rem;
    color:v.$white;
    font-size:5rem;
    font-weight: 100;

}