@use "../App" as v;

.home-page-text{
    color:v.$dark_green;
}
#flex{
    display:flex;
}
#home-page-content{
    margin:3rem;
    padding:3rem;
}
.flex-item{
    padding:2rem;
}
#grasshopper-heading{
    display:inline;
}
#intro{
    background-color: v.$light_green;
    padding:1rem;
    border-radius:1rem;
}
#homepage-list{
    list-style-type: none;
}