@use '../App' as *;

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(19, 18, 18, 0.473);
    z-index: 1;
}

.modal{
    width:95%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-70%);
    z-index: 2;
    background-color: $white;
    border-radius: 10px;

    i{
    position: absolute;
    right: 1%;
    top: 2%;
    color: $white;
    padding: 0.5rem;
    cursor: pointer;
}
}

#modal-heading{
    background-color: $reg_green;
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    border-radius: 10px 10px 0 0 ;
    margin-bottom: 0.5rem;
    color: $white;
}
