@use "../App" as v;

.NavBar{
    overflow:hidden;
}
#navbar-list {
    list-style-type: none;
    overflow: hidden;
    background-color: v.$dark_green;
}
.navbar-list-element {
    display:inline;
    color: v.$light_green;
    float: left;
    font-size:3rem;
}
a {
    display: block;
    padding: 2rem;
    padding-bottom:0.5rem;
    margin-left:2rem;
}
i{
    padding-right: 1rem;
}
#user-status-list-item{
    float:right;
}
#user-status{
    margin-top:-0.75rem;
}
.login-btn{
    display:block;
    border:none;
    border-radius:2rem;
    padding-top:0.25rem;
    padding-bottom:0.5rem;
    margin: -0.2rem 0.25rem 0.40rem 0.15rem;
    width:13rem;
    font-size:2rem;
    color:v.$dark_green;
}
#firstbtn{
    background-color:v.$white;
    margin-bottom:0.75rem;
}
#secondbtn{
    background-color:v.$light_green;
    margin-bottom:0.1rem;
}