@use "../App" as v;

.navbar{
    overflow:hidden;
    img{
        width: 100px;
        margin-right: 1rem;
    }
}
#navbar-list {
    list-style-type: none;
    overflow: hidden;
        padding:1rem 3rem;

    background-color: v.$dark_green;
    i{
        color: white;
    }
}
.navbar-list-element {
    display:inline;
    color: v.$light_green;
    float: left;
    font-size:1.5rem;
    margin-right: 4rem;
}
>a {
    display: block;
    padding: 2rem;
    padding-bottom:0.5rem;
    margin-left:2rem;
}
i{
    padding-right: 1rem;
}
#user-status-list-item{
    float:right;
}
#user-status{
    // margin-top:2rem;
}
.login-btn{
   display: block;
   width: 8rem;
   padding: 0.3rem 0;
   margin-bottom: 0.5rem;
   border-radius:30px;
   border:none
}
#firstbtn{
    background-color:v.$white;
}
#secondbtn{
    background-color:v.$light_green;
}