@use "../App" as v;

#team-name-heading{
    margin:3rem;
    margin-top:1rem;
    color:v.$dark_green;
    font-size:3rem;
}
#managers-heading,#employees-heading{
    margin:3rem;
    margin-top:1rem;
    color:v.$dark_green;
    font-size:2.5rem;
}
#managers-table,#employees-table{
    margin:3rem;
    display:flex;
}
.view-participants-table-col{
    margin:0.5rem 2rem 0.5rem 0;
    padding:0 1rem 0 0;
}
.view-participants-table-heading{
    color:v.$dark_green;
    font-size:2rem;
}
.view-participants-table-element{
    list-style-type: none;
    font-size:1.5rem;
    color:v.$dark_green;
    padding-top:1rem;
}
hr{
    border:1px solid v.$dark_green;
    width:70%;
    margin:auto;
}
